.DS_Store
.classpath
.project
.settings/
build/
classes/
*.class
*.bak
._*
.sass-cache/
.tern-port
frontend/js/jGrowl
nginx.conf
nginx.pid
*.orig
.idea/
*.iml
*.ipr
*iws
MANIFEST.MF
bin/
var/
hotspot.log
pom.xml.versionsBackup
test-output/
/atlassian-ide-plugin.xml
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
target/
rebel.xml
ejb-jar.xml
docs/monitor.asta.lock
docs/monitoramento.eap
docs/monitor.asta.bak
